<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umeng.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".UmengHome"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>

        <!-- Xp Activitys -->
        <activity
            android:name=".xp.XpHome" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" >
        </activity>
        <activity
            android:name=".xp.ContainerExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" >
        </activity>
        <activity
            android:name=".xp.BannerExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" />
        <activity
            android:name=".xp.HyperlinkTextExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" />
        <activity
            android:name=".xp.HandlerExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" />
        <activity
            android:name=".xp.FullIconExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" />
        <activity
            android:name=".xp.MyTabActivity" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" />
        <activity
            android:name=".xp.WapExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" />
        <activity
            android:name=".xp.TabFragment" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp" />
        <activity
            android:name=".xp.ContainerHeaderExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_xp_home_btn_container_header" />
        <activity
            android:name=".xp.PushExample" 
            android:configChanges="orientation|keyboard"
            android:label="@string/umeng_example_xp_home_btn_push_header" />
        <activity
            android:name=".xp.PromoterDataExample" 
            android:configChanges="orientation|keyboard"
            android:label="@string/umeng_example_xp_home_btn_custom" />
        <activity
            android:configChanges="keyboard|orientation"
            android:name="com.umeng.xp.view.WapActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@android:style/Theme.Dialog" />
        
        <!-- Xp Activitys -->
        
        <!-- Xp Ufp Activitys -->
          <activity
            android:name=".xp.BannerUfpExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp_ufp" />
        <activity
            android:name=".xp.HandlerUfpExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp_ufp" />
        <activity
            android:name=".xp.WapUfpExample" android:configChanges="keyboard|orientation"
            android:label="@string/umeng_example_home_btn_xp_ufp" />
        <!-- Xp Ufp Activitys -->


        <!-- Ad Activitys Start -->
        <activity
            android:name=".ad.BannerExample"
            android:label="@string/umeng_example_home_btn_ad" />
        <activity
            android:name=".ad.InterstitialExample"
            android:label="@string/umeng_example_home_btn_ad" />
        <activity
            android:name="com.umeng.ad.AdDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" />
        <!-- Ad Activitys End -->


        <!-- Fb Activitys Start -->
        <!-- <activity
            android:label="@string/umeng_example_home_btn_fb"
            android:name=".fb.SimpleExample" /> -->
		<activity android:name="com.umeng.fb.ui.SendFeedback"
			android:windowSoftInputMode="adjustResize" />
		<activity android:name="com.umeng.fb.ui.FeedbackConversations" />
		<activity android:name="com.umeng.fb.ui.FeedbackConversation"
			android:configChanges="keyboard" />
        <!-- Fb Activitys End -->

		<!-- Analytics start -->
        <activity
            android:name=".analytics.AnalyticsHome"
            android:label="@string/umeng_example_home_btn_analytics" >
        </activity>
        <activity
            android:name=".analytics.WebviewAnalytic">
        </activity>
        <!-- Analytics end -->
        <activity android:name=".update.UpdateHome"></activity>
        <activity
            android:name=".tools.ToolsHome"
            android:label="@string/umeng_example_home_btn_tools" >
        </activity>
        <activity
            android:name=".ad.AdHome"
            android:label="@string/umeng_example_home_btn_ad" >
        </activity>
        <activity
            android:name=".fb.FbHome"
            android:label="@string/umeng_example_home_btn_fb" >
        </activity>

        <!-- for unit test -->
        <activity
            android:name="com.umeng.ut.UtActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.umeng.ut.UtLoadPic"
            android:label="@string/app_name" />
        <!-- for unit test -->

		<!-- Caution! Do not change this app key. It is only for demo usage.  -->
		<meta-data android:value="4f83c5d852701564c0000011" android:name="UMENG_APPKEY"></meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
           
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>
    </application>

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    
</manifest>
