<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itap.voiceemoticon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name="com.itap.voiceemoticon.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Styled"
            android:uiOptions="none"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" 
            android:launchMode="singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Styled" >
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>

        <!-- Umeng Config -->
        <!-- Fb Activitys Start -->
        <!--
             <activity
            android:label="@string/umeng_example_home_btn_fb"
            android:name=".fb.SimpleExample" />
        -->
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />
        <!-- Fb Activitys End -->


        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="50f68215527015661000001f" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />

</manifest>