<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itap.voiceemoticon"
    android:versionCode="4"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
	<!--以下两个为新增必选权限！-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    
    <application
        android:name="com.itap.voiceemoticon.VEApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/my_app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100497165" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.activity.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Styled"
            android:uiOptions="none"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.third.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.activity.AboutActivity"
            android:exported="true"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Styled" >
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.activity.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Styled" >
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name="com.itap.voiceemoticon.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>

        <!-- Umeng Config -->
        <!-- Fb Activitys Start -->
        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity android:name="com.umeng.fb.ContactActivity" />
        
        
        <!-- Fb Activitys End -->
        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5208cf8956240b0e7212ce38" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="360" >
        </meta-data>
        <service
		    android:name="com.umeng.common.net.DownloadingService"
		    android:process=":DownloadingService" >
		</service>
        
        <!-- 有米广告
        <activity
                android:name="net.youmi.android.SmartBannerActivity"
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:theme="@style/Transparent"
                ></activity>
        <service
                android:name="net.youmi.android.SmartBannerService"
                android:exported="false"
                ></service>
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.youmi.android.offers.OffersReceiver"
            android:exported="false" >
        </receiver>
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="10050" >
        </meta-data>
         -->
        
        
        <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>